body {
  font-family: "Times New Roman";
  color: #3d3d3d;
}

h1 {
  background-color: #677887;
}

h2 {
  border-bottom: 2px solid #404040;
}

figure {
  text-align: center;

  background-color: black;
  border: 1px solid purple;
  color: #1290ff;
}
