body {
  font-family: "Times New Roman";
  color: #3d3d3d;
}

h1 {
  background-color: #677887;
}

h2 {
  border-bottom: 2px solid #404040;
}

figure {
  text-align: center;

  background-color: #f3ff12;
  border: 1px solid #ff1212;
  color: #1290ff;
}
